* {
  /* block-size: border-box; */
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-bg: #0f2c33;
  --secondary-bg: #21616a;
  --text: #533946;
  --button-bg: #efa00f;
  --blankfield: #e6d1b4;
  --transition1: all 500ms ease-in-out;
  --shadow: 0px 0px 4px 2px var(--blankfield);
}

/* Header part  */

body {
  font-family: monospace;
  height: 100vh;
  width: 100vw;
  background: var(--primary-bg);
}
.header {
  margin: auto;
  width: 100vw;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar  */

.navbar-general {
  display: none;
}

/* Toggle dark and light mode  container */

.toggle-dark {
  width: 4rem;
  height: 2rem;
  background: black;
  border-radius: 1rem;
  position: relative;
  box-shadow: var(--shadow);
}
.toggle-dark .ball {
  display: flex;
  width: 2.2rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: var(--blankfield);
  border: 0.25rem black solid;
}

/* body  */

.messenger {
  display: flex;
  background: var(--secondary-bg);
  height: 70vh;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 1rem;
  transition: all 1s ease-in;
  box-shadow: var(--shadow);
}

.people {
  width: 25%;
  height: 100%;
  border: 5px var(--text) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0 0 10px;
}
.people input {
  height: 2rem;
  width: 90%;
  text-align: center;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 10px;
  background: var(--blankfield);
}
.people input:hover {
  background: var(--button-bg);
}

.search-people {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
}
.search-people i {
  position: relative;
  left: 2rem;
}

.peoplelist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}
.person {
  height: 2rem;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  border: 1px solid var(--blankfield);
  border-radius: 5px;
  cursor: pointer;
  font: 18px bold;
  padding: 10px;
  color: var(--blankfield);
  transition: var(--transition1);
}
.current {
  color: var(--button-bg);
  border: 1px solid var(--button-bg);
}
.person:hover {
  color: var(--button-bg);
  border: 1px solid var(--button-bg);
}

.messenger .messagebox {
  height: 100%;
  border: 5px var(--text) solid;
  width: 60%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
/* Hidden Search Bar  */
.messagebox .search-people {
  display: none;
}
.sendbox {
  display: flex;

  height: 3rem;
  border: var(--blankfield) solid;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
  width: 95%;
  justify-content: space-between;
  margin: 1rem 1rem;

  gap: 2rem;
  flex-direction: row-reverse;
}
.sendbox div {
  padding: 0 1rem;
}
.sendbox .input {
  flex-grow: 1;
  display: flex;
}
.sendbox input {
  flex-grow: 1;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding-left: 2px;
  background: var(--blankfield);
}
.sendbox button {
  width: 4rem;
  height: 2rem;
  background: var(--button-bg);
  border-radius: 5px;
  border: 1px white;
}

.sendbox .attachments {
  display: flex;
  gap: 1rem;
  color: var(--blankfield);
}
.attachments i {
  transform: scale(1.3);
  transition: all 400ms ease-in-out;
}
.attachments i:hover {
  color: var(--button-bg);
  transform: scale(1.6);
}

.messages {
  background: var(--blankfield);
  flex-grow: 1;
  width: 95%;
  margin-top: 1rem;
  border-radius: 10px;
}
.menu {
  width: 20%;
  display: flex;
  margin: 1rem;
  justify-content: flex-end;
  text-align: start;

  gap: 10px;
  font-size: 20px;
  color: var(--blankfield);
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.menu i:hover,
.menu li:hover,
.menuitems li a:hover {
  color: var(--button-bg);
  cursor: pointer;
}
.menuitems a {
  text-decoration: none;
  color: red;
}
.menu a {
  color: red;
}

.infobar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 16px;
  background: var(--primary-bg);
  border-radius: 10px 10px 0 0;
}
.infobar .info {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.info .namenumber {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--blankfield);
}
.namenumber h2 {
  font-size: 16px;
  color: var(--blankfield);
}
.namenumber p {
  font-size: 12px;
}

.callandcontrol {
  display: flex;
  gap: 1rem;
  color: var(--blankfield);
}
.callandcontrol i:hover {
  color: var(--button-bg);
  cursor: pointer;
}
.info .image {
  height: 2rem;
  width: 2rem;
  background: var(--blankfield);
  border-radius: 50%;
}

.info .image:hover {
  background-color: var(--button-bg);
}
.info:hover {
  cursor: pointer;
}
.hamburger {
  display: none;
}
@media (width<1000px) {
  .people {
    display: none;
  }
  .messagebox .search-people {
    display: flex;
    height: 2rem;
    width: 95%;
    justify-content: center;
  }

  .search-people input {
    height: 2rem;
    width: 90%;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 1.5rem;
    background: var(--blankfield);
  }
  .search-people input:hover {
    background: var(--button-bg);
  }

  .search-people i {
    align-self: center;
    position: relative;
    left: 3rem;
    top: 8px;
  }
}

@media (width<700px) {
  .menu {
    display: none;
  }
  .hamburger {
    display: flex;
    margin: 0 10px;
    width: auto;
  }
  .hamburger i {
    color: var(--blankfield);
  }
  .sendbox {
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .sendbox input {
    flex-shrink: 1;
    margin: 0;
    width: 20%;
  }
}
